ul {
  list-style: none;
}

form {
  background: #f9f9f9;
  border: none;
  width: 360px;
  padding: 1em 0;
  color: #000;
  /*  margin-top: 1em; */
  box-shadow: 2px 2px 2px #b7b4b4;
  border-radius: 0.2rem;
  cursor: pointer;
  margin: 0 auto;
}

/* This inherit from the parent's values */
input,
textarea,
button {
  font-family: inherit;
  font-size: 80%;
  width: 280px;
  margin: 0.5em 0;
  /*  padding: 0;
  margin: 0; */
  /* box-sizing: border-box; */
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1); /* NB! Bytt denne fargen! */
}

/* Stops IE from showing a scroll bar when not needed */
textarea {
  overflow: auto;
  background-image: url("../summertree.png");
  background-repeat: no-repeat;
  background-size: 15%;
  opacity: 30%;
  background-position: bottom right;
}

#search-form {
  width: 100%;
  background: #fff;
  box-shadow: none;
  /*  margin-bottom: 2em; */
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 1em;
  position: absolute;
  top: 6em;
  text-align: center;
  /* left: 2em; */
}

#search {
  text-align: center;
  font-family: inherit;
  width: 250px;
}

#search-btn {
  /*   background-color: hotpink; */
  width: 50px;
}

/* Styling the error handling on the form */
.success {
  display: none;
  background: lightgreen;
  border: 2px solid green;
  padding: 1em;
}

.error {
  display: none;
  color: red;
  font-size: 0.9rem;
  width: 50%;
  margin: 0 0 1em;
  padding: 0.2em;
}
input:invalid {
  border-color: red;
  background-color: #fdd;
}
input:focus:invalid {
  outline: none;
}

/* ================
    Media Queries 
  =================== */

@media (min-width: 600px) {
  form {
    display: flex;
    flex-direction: row;
    width: 700px;
  }

  #search-form {
    width: 350px;
    top: 1em;
    left: 60em;
    padding: 0;
  }
}
