* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: black;
  line-height: 1.6;
}

img {
  max-width: 100%;
  margin: 0 auto;
  /* display: block; */
}
/* ================
      Typography 
  =================== */
h1,
h2,
h3 {
  font-family: "Lora", serif;
  /* border: 2px solid pink; */
}

h1,
h2,
h3,
strong {
  font-weight: 700;
}

/* ================
    Buttons and links 
  =================== */

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #731813;
}

.active {
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #731813;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

/* ================
    Header and Navigation 
  =================== */
/* header {
  background: pink;
} */

nav {
  display: flex;
  justify-content: space-between;
}

.site-title {
  /*  position: absolute;
  top: 3.7em; */
  padding-left: 1em;
  margin: 0;
  line-height: 0.125;
  /* background: blue; */
}

#logo {
  max-width: 30%;
}

.main-menu a {
  color: #fff;
}

.hamburger-icons {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  z-index: 100;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
}

/* .fa-bars {
   display: none; 
   top: 3em;
  left: 1em; 
}*/

/* .fa-times {
  display: none;
  top: 3em;
  left: 1em;
} */

.main-menu {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: green;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.5s;
  list-style: none;
  padding: 2em;
  margin-top: 0; /* change this if under logo */
}

.open-menu {
  transform: translateY(0);
}

/* NEWEST POST SECTION */
/* .newest p {  This dont show the paragraph in this class 
  display: none;
} */

.more-link {
  display: none;
}

.random-quote {
  background: lightgrey;
  border: 2px solid green;
  padding: 1em;
  font-style: italic;
}

/* FOOTER */
footer {
  background: green;
  color: white;
  /* text-align: center; */
  padding: 1em;
  margin: 0;
}

footer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

footer a {
  color: #fff;
}

/* ================
    Miscellanous 
  =================== */

.horizontal-line {
  width: 100%;
  border: 1px solid green;
  position: absolute;
  top: 3.8em;
  z-index: -1;
}

/* Image Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

#close {
  background-color: royalblue;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

#modal {
  background-color: #333;
  padding: 4em;
  height: 60%;
  width: 60%;
  text-align: center;
  position: relative; /* Here it is relative to the #overlay */
  margin: 0 auto;
  top: 30%; /* from the top */
}

#modal p {
  display: none;
}

#modal figcaption {
  color: #fff;
}

#modal img {
  /* NB! Image not 100% correct!!! */
  max-width: 100%;
}
#overlay {
  position: fixed; /* Fixed cover whole screen - keeps it static, absolute only part */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); /* If you just go for opacity, you put this on everything - the text also - rgb for black is 0,0,0*/
  width: 100%;
  height: 100%;
}

/* Carousel/Slider */
.latest-carousel {
  max-width: 600px;
  position: relative;
  /* display: flex; */
}

.carousel-item-visible,
.carousel-item-hidden {
  display: none;
  width: 100%;
  max-width: 600px;
  height: auto;
}
.carousel-item img {
  width: 50%;
  max-width: 400px;
  height: auto;
}
.carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s; /* keyframes called here */
}

.carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /*  position: absolute; */
  /* top: 50%; */ /* This doesn't take in the height(or size) of the div, so this is not excactly on the middle, to fix this we add  */
  transform: translate;
  transform: translateY(-50%); /* this is on the Y axis (the on that goes up) it vertically aligns the item  */
}

.next-btn,
.prev-btn {
  background-color: green;
  color: white;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.next-btn:hover,
.prev-btn:hover,
.next-btn:focus,
.prev-btn:focus {
  background-color: grey;
}

.next-btn {
  margin-right: 20px;
}
.prev-btn {
  margin-left: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

/* ================
    Media Queries 
  =================== */

@media (min-width: 450px) {
}

@media (min-width: 600px) {
  .fa-bars {
    display: none;
  }

  footer {
    text-align: center;
  }

  footer ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .horizontal-line {
    top: 4em;
  }

  #logo {
    max-width: 20%;
    /*  margin-left: 7.3em; */
  }

  .site-title {
    top: 4em;
    padding-left: 1em;
  }

  .hamburger-icons {
    display: none;
  }

  .main-menu {
    transform: none;
    background: #fff;
    padding: 1em 1em 0 1em;
    max-width: 20%;
    flex-direction: column;
    position: relative;
  }

  /*   .main-menu {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: green;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.5s;
    list-style: none;
    padding: 2em 2em 4em;
    margin-top: 0;  change this if under logo 
  } */

  .open-menu {
    display: none;
  }

  .main-menu a {
    color: #000;
  }
}

/* =========================== */

@media (min-width: 750px) {
  .main-menu {
    max-width: 150px;
  }
}

@media (min-width: 1000px) {
  .site-title {
    top: 0.5em;
    padding-left: 2em;
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    line-height: normal;
  }

  .subtitle {
    line-height: 2.7;
  }
}
