ul {
  list-style: none;
}

/* This inherit from the parent's values */
input,
textarea,
button {
  font-family: inherit;
  font-size: 80%;
  width: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1); /* NB! Bytt denne fargen! */
}
/* Stops IE from showing a scroll bar when not needed */
textarea {
  overflow: auto;
}

/* Styling the error handling on the form */
.success {
  display: none;
  background: lightgreen;
  border: 2px solid green;
  padding: 1em;
}

.error {
  display: none;
  color: red;
  font-size: 0.9rem;
  width: 50%;
  margin: 0 0 1em;
  padding: 0.2em;
}
input:invalid {
  border-color: red;
  background-color: #fdd;
}
input:focus:invalid {
  outline: none;
}
